<div class="index-cont">
  <div class="header">
    <h1>Newest products. Coolest loot.</h1></div>
    <div class="index-item-gallery" [style.background-color]="colors[infoData.rarity]">
  <gallery [items]="images" id="myGallery" [thumb]="false" [autoPlay]="true" (indexChange)="handleIndex($event)"
  [style.background-color]="colors[infoData.rarity]"
  ></gallery>
  </div>
  <div class="index-item-info-wrapper">
    <div class="index-item-info-content">
    <h3 class="index-item-header">{{infoData.name}}</h3>
    <h3 class="light">{{infoData.description}}</h3>
    <h3 class="light">{{infoData.rarity |titlecase}}</h3>
  </div>
  </div>
  <div class="header right">
    <h1>Smooth new website</h1>
  </div>
  <div class="index-text">
    <h1>About this website</h1>
    <p>This is a website that I developed in order to improve as a developer. It is my first website developed with angular and I had really strict time limit,
      but I managed to go over some of the key aspects of angular development. Key aspects of this website are:
    </p>
    <ul>
      <li>Angular routing</li>
      <li>Event emitters</li>
      <li>Input</li>
      <li>Services</li>
      <li>Api calls</li>
      <li>Observables</li>
      <li>Style binding</li>
      <li>External libraries</li>
      <li>Pipes</li>
    </ul>

    <p>There are some advanced topics in angular that I havent covered <i>yet</i>. I am already avare of these things and I will soon create a project
    of some of the more advanced angular features. These features include:</p>
    <ul>
      <li>rxjs</li>
      <li>Angular animations</li>
      <li>Dynamic routing</li>
    </ul>
    <p>This was not designed to be visual website but I still used some sass and bootstrap to get accustomed to them.</p>
  </div>

</div>
