<div class="item-card">
  <div class="item-card-img" [style.background-color]="colors[itemData.rarity]">
    <img [src]="itemData.images.icon"/>
    <ul class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button class="btn btn-primary" (click)="addToShop()">+</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" (click)="removeFromShop()">-</button>
      </li>
    </ul>
  </div>
  <div class="item-card-body">
    <h1>{{itemData.name}}</h1>
    <h2>Price: {{itemData.price}}</h2>
    <h3>Currently: {{currentAmount}}</h3>
  </div>
</div>
